
html {
    font-size: 20px;
    background-color: #f2f2f2;
}

h1 {
    color: white;
    font-family: 'Belanosima', sans-serif;
    font-size: 2rem;
    text-align: center;
    background-color: black;
}

header {
    background-color: black;
}

nav {
    text-align: center;
    padding-bottom: 5px;
}

li {
    list-style: none;
    display: inline-block;
    color: whitesmoke;
    font-family: 'Belanosima', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: black;
    padding-right: 30px;

}

#gifs {
    list-style: none;
    display: inline-block;
    align-items: center;
    background-color: #f2f2f2;
}

img {
    width: 250px;
    height: 250px;
    align-items: center;
}

#gg {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
}

footer {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 15px;
    background-color: black;
    padding: 5px;
}